{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>{% trans "Sign In" %}</h1>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">

                {% get_providers as socialaccount_providers %}


                {% include "socialaccount/snippets/login_extra.html" %}

                {% if socialaccount_providers %}

                <a href="/accounts/facebook/login/" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Sign in with Facebook
                </a>

                <a href="/accounts/google/login/" class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Sign in with Google
                </a>
                    <a href="/accounts/github/login/" class="btn btn-block btn-social btn-github">
                    <span class="fa fa-github"></span> Sign in with GitHub
                </a>

                {% include "socialaccount/snippets/login_extra.html" %}

                {% endif %}
                <br><br>
            </div>
            <div class="col-md-6">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="primaryAction btn btn-success" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
