{% extends 'base.html' %}
{% load bootstrap %}

{% block content %}
    <div class="col-md-6 col-md-offset-4 col-sm-offset-0">
    <h1>Kontakt</h1>
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-success" type="submit">Wyślij</button>
    </form>
    </div>
{% endblock %}