{% extends 'base.html' %}

{% block content %}
    <a style="margin-bottom: 20px" class="btn btn-default" href="/post/new/"><span class="glyphicon glyphicon-plus"></span> Nowy post</a>
    <table class="table-striped" style="width: 100%">
    <thead>
        <tr>
            <td style="padding:10px">Tytuł</td>
            <td>Premium</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    {% for post in posts %}
        <tr>
            <td style="padding-left:10px">
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </td>
            <td style="padding-right:10px; padding-left:10px; width: 50px;">
                {% if post.premium == True %}
                    Tak
                {% else %}
                    Nie
                {% endif %}
            </td>
            <td style="padding:10px; width: 50px">
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td style="width: 50px">
                <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <div class="bottomNav">
    {% if isPreviousPage %}
        <a style="float: right" href="/?page={{ previousPage }}">Poprzednia strona</a>
    {% endif %}
    {% if isNextPage %}
        <a style="float: right" href="/?page={{ nextPage }}">Następna strona</a>
    {% endif %}
    </div>
    </div>
{% endblock content %}