{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8">
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <img src="{{ MEDIA_URL }}{{ post.image.url }}" />
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <div class="bottomNav">
    {% if isPreviousPage %}
        <a style="float: right" href="/?page={{ previousPage }}">Poprzednia strona</a>
    {% endif %}
    {% if isNextPage %}
        <a style="float: right" href="/?page={{ nextPage }}">Następna strona</a>
    {% endif %}
    </div>
    </div>
{% endblock content %}