{% load staticfiles %}
<html>
    <head>
        <title>InPost Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="top-menu-container">
                {% if user.is_authenticated %}
                    <a href="/logout/" class="top-menu">Wyloguj</a>
                {% endif %}
                <a href="/contact/" class="top-menu">Kontakt</a>
                {% if user.is_superuser %}
                    <a href="/manage/" class="top-menu">Zarządzaj</a>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="/accounts/register/">Zarejestruj</a>
                    <a href="/accounts/login/">Zaloguj</a>
                {% endif %}
                {% if user.is_superuser %}
                    <p>Cześć, admin!</p>
                {% elif user.is_authenticated %}
                    <p>Cześć, {{ user.username }}!</p>
                {% endif %}
            </div>
            <h1><a href="/">InPost Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </body>
</html>